[submodule "developer/wikis/overview"]
	path = developer/wikis/overview
	url = git@github.com:hoccer/website.wiki
[submodule "developer/wikis/server"]
	path = developer/wikis/server
	url = git@github.com:hoccer/server.wiki
