#signup {
  display: none;
}

#signin_errors {
  display: none;
  font-weight: bold;
  margin: 18px 0 18px 0;
  padding: 10px;
  color: #ffffff;
  background-color: #FF6F7B;
  border: 2px dashed #000000;
}

#tabs {
  font-size: 0.9em;
  width: 600px;
}

.ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #dddddd; background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; color: #333333; }
.ui-widget-content a { color: #333333; }
.ui-widget-header { border: 1px solid #67C5D8; background: #00B7CB url(ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #cccccc; background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #1c94c4; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #00B7CB; font-weight: bold; color: #999; }
.ui-state-hover a, .ui-state-hover a:hover { color: #999; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #67C5D8; background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #eb8f00; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #999; text-decoration: none; }
.ui-widget :active { outline: none; }

.code { font-size: 0.95em; font-family: monospace, sans-serif; }
code { font-size: 0.95em; font-family: monospace, sans-serif; }

dl { margin: 18px 0 18px 0; }
dt { font-weight: bold; }
dd { padding-left: 10px; margin-bottom: 18px;}

article img { display: block;   margin-left: auto; padding-right: 55px; margin-right: auto;}

h3 {font-size: 1.1em; margin-top: 10px;}

h4 {font-size: 1em; margin-top: 10px;}

form#account_new input[type=email], form#account_new input[type=password] {
  font-size: 36px;
  width: 600px;
  margin-bottom: 36px;
  border:solid 1px #C5C5C5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  color: #686868;
}

form#account_new input[type=submit] {
  background-color: #5FB7CC;
  font-size: 18px;
  color: #ffffff;
  padding: 18px;
  border: 1px solid #C5C5C5;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

form#account_new label {
  display: block;
  margin-bottom: 16px;
  font-size: 24px;
}

div#error_explanation {
  margin-bottom: 18px;
}

form#account_new div.field_with_errors input {
  border: 1px solid red;
}

p#flash_notice {
  margin-bottom: 18px;
  padding: 18px;
  background-color: yellow;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #BDBDBD;
}

input[type=password] {
  border: 1px solid #C5C5C5;
}

#dashboard {
  background-color: white;
  border: 1px solid #e5e5e5;
  margin: 30px 0 40px;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.20);

  font-size: 17px;
}

div#articles #dashboard {
  margin-bottom: 50px;
}

#dashboard h1 {
  font-size: 20px;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 40px;

  background-color: #eee;
}

#dashboard h2 {
  font-size: 20px;
}

#dashboard h3 {
  padding-bottom: 12px;
  font-size: 20px;
}

#dashboard section {
  padding: 40px 40px;
  border-bottom: 1px solid lightgray;
}

#dashboard section:last-child {
  border-bottom: 0;
}

#dashboard input[type=text] {
  width: 400px;
  font-size: 20px;
}

#dashboard #api_keys strong {
  width: 130px;
  height: 23px;
  padding-top: 7px;

  display: block;
  float:left;
}

#dashboard ul {
  list-style-type: none;
  margin: 0 0 20px;
}

#dashboard ul li {
  padding: 3px 0;
}

#dashboard ul li input[type=text] {
  width: 250px;
}

#dashboard #website_form {
  margin: 15px 0 30px;
}

#dashboard .note {
  background: #FFEFD7;
}

#sidebar {
  margin-right: -20px;
  margin-top: 90px;

  font-size: 17px;

  border: 1px solid #e5e5e5;
  border-right-width: 0;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
}

#sidebar ul {
  list-style-type: none;
  margin: 0;
}

#sidebar ul li {
  padding: 15px 25px;
  border-bottom: 1px dashed #e5e5e5;
}

#sidebar ul li#helpdesk {
  margin-top: 80px;
  border-top: 1px dashed #e5e5e5;
  border-bottom: 0;
}

p#hoccer_compatible_widget {
  line-height: 20px;
  vertical-align: middle;
}

img#verified_compatibility {
  display: inline;
  padding-left: 10px;
  height: 16px;
}
