body {
  background-color: #fbfbfb;
  line-height: 18px;
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
}

hr {
  color: #c5c5c5;
  background-color: #777777;
  border-top: 1px solid #bbbbbb;
  border-bottom: 1px solid #e4e4e4;
}

h4 {
  font-size: 16px;
  color: #707070;
  text-shadow: 1px 1px 0px #ffffff;
}

header div.row div img {
  margin-top: 18px;
}

nav#main_navigation {
  text-align: right;
}

nav#main_navigation ul {
  margin-top: 54px;
}

nav#main_navigation li {
  display: inline;
  padding-left: 15px;
}

nav#main_navigation a {
  text-decoration: none;
  font-size: 14px;
  color: #999999;
}

div#splash_screen {
  margin-top: 18px;
  background-image: url(images/splash_screen.jpg);
  background-repeat: no-repeat;
}

div#splash_screen div#splash_description {
  padding-top: 190px;
  padding-left: 20px;
  line-height: 18px;
  width: 440px;
  color: #ffffff;
}

div#splash_screen div#iphone {
  margin-top: 61px;
}

div#splash_screen div#android {
  margin-top: 61px;
}

div#features {
  background-color: #e7e7e7;
  height: 270px;
  width: 458px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

div.app_market {
  width: 190px;
  padding-top: 20px;
  padding-left: 20px;
}

div#features .grid_3 {
  margin-right: 0px;
}

div.grid_6 h4 {
  padding-left: 20px;
}

div#features ul {
  margin-top: 10px;
  margin-left: 40px;
}

div#features hr {
  border-top: 1px solid #c5c5c5;
  background-color: #f0f0f0;
  width: 458px;
}

div#latest_posts {
  margin-top: 36px;
}

div#latest_posts ul li {
  background-image: url(images/talking_bullit.jpg);
  background-repeat: no-repeat;
  background-position: 0px 2px;
  padding-left: 30px;
  margin-bottom: 20px;
  margin-left: -20px;
  list-style-type: none;
}

div#latest_posts ul li h5 {
  color: #339bb1;
}

div#latest_posts footer {
  font-size: 11px;
  font-style: italic;
}

div#how_to {
  background-color: #e7e7e7;
  border: 1px solid #bdbdbd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

div#how_to header {
  background-image: -webkit-gradient(
    linear,
    0% 100%, 0% 0%,
    from(#a3a3a3),
    to(#c8c8c8)
  );

  background-image: -moz-linear-gradient(90deg,#a3a3a3,#c8c8c8 );
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #c6c6c6;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  height: 54px;
}

div#how_to header h2 {
  padding-top: 18px;
  padding-left: 20px;
  font-size: 24px;
  font-weight: normal;
  color: #ffffff;
  text-shadow: 0px -1px 0px #808080;
}


div#how_to {
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.20);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.20);
}

div#how_to ul {
  margin-left: 0px;
  border-top: 1px solid #bdbdbd;
}

div#how_to ul li {
  padding: 20px;
  border-bottom: 1px solid #c3c3c3;
  list-style-type: none;
}

div#how_to ul li:last-child {
  border: none;
}

div#how_to ul li p {
  margin-top: 10px;
}

div#how_to ul li img {
  float: left;
  margin-right: 20px;
  border: 1px solid #bdbdbd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

body > footer {
  height: 180px;
  background-image: -webkit-gradient(
    linear,
    0% 0%, 0% 100%,
    from(#bababa),
    to(#909090)
  );

  background-image: -moz-linear-gradient(90deg,#a3a3a3,#c8c8c8 );
  #858585 => #a4a4a4
}

body > footer p, body > footer ul {
  color: #eeeeee;
  font-size: 12px;
  margin-top: 20px;
}

body > footer ul {
  margin-left: 0px;
}

body > footer li {
  list-style-type: none;
}

body > footer li a {
  text-decoration: none;
  color: #eeeeee;
}

/* Company */

div#page_header {
  margin-top: 8px;
  margin-bottom: 36px;
  height: 181px;
  background-image: url(images/page_header.jpg);
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.20);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.20);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div#page_header h1 {
  margin-top: 36px;
  margin-left: 20px;
  color: #ffffff;
  font-family:'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size:30px;
  font-weight:300;
}

div#page_header p {
  margin-top: 24px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #ffffff;
}

div.page article h2 {
  margin-bottom: 18px;
}


article hr {
  height: 1px;
  border-top: 1px solid #c9c9c9;
  background-color: #ebebeb;
  border-bottom: 1px solid #fbfbfb;
}


div.row {
  /*background-color: yellow;*/
}
