    <div class="push"></div>
    </div>
    <footer>
      <hr />
      <div class="row">
        <div class="column grid_8">
          <a href="http://www.twitter.com/hoccer"><h4>Latest Tweets</h4></a>
        </div>
        <div class="column grid_4">
          <h4>About Hoccer</h4>
        </div>
      </div>
      <div class="row">
        <div class="column grid_3 tweet">
          <p>
          </p>
        </div>
        <div class="column grid_3 tweet">
          <p>
          </p>
        </div>

        <div class="column grid_2">
          &nbsp;
        </div>
        <div class="column grid_2">
          <ul>
            <li><a href="http://hoccer.com/company/">Company</a></li>
            <li><a href="http://hoccer.com/blog/">Blog</a></li>
            <li><a href="http://hoccer.com/contact/">Contact/Press</a></li>
            <li><a href="http://hoccer.com/legal_notice/">Legal Notice</a></li>
          </ul>
        </div>
        <div class="column grid_2">
          <ul id="social">
            <li>
              <a href="http://hoccer.com/feed/">
                <img src="http://hoccer.com/wp-content/themes/hoccer/images/mini_rss.png" />
                Subscribe RSS Feed
              </a>
            </li>
            <li>
              <a href="http://www.twitter.com/hoccer">
                <img src="http://hoccer.com/wp-content/themes/hoccer/images/mini_twitter.png" />
                Follow us on Twitter
              </a>
            </li>
            <li>
              <a href="http://www.facebook.com/hoccer">
                <img src="http://hoccer.com/wp-content/themes/hoccer/images/mini_facebook.png" />
                Hoccer on Facebook
              </a>
            </li>
          </ul>
        </div>

      </div>
    </footer>


<script>!window.jQuery && document.write('<script src="http://hoccer.com/wp-content/themes/hoccer/js/jquery-1.4.2.min.js"><\/script>')</script>

<script src="http://hoccer.com/wp-content/themes/hoccer/js/script.js?v=1"></script>
<script type="text/javascript">
	var pkBaseURL = document.location.protocol + "//" + "stats.artcom.de" + "/";
	document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
	try {
		var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
		piwikTracker.setDocumentTitle(document.title);
		piwikTracker.trackPageView();
		piwikTracker.enableLinkTracking();
	} catch( err ) {}
</script>


<!--[if lt IE 7 ]>
  <script src="js/dd_belatedpng.js?v=1"></script>
<![endif]-->
</body>
</html>
