<!doctype html>
<html lang="en" class="no-js">
  <head>

    <title>Developer | Hoccer</title>
    <meta charset="utf-8" />

    <!-- www.phpied.com/conditional-comments-block-downloads/ -->
    <!--[if IE]><![endif]-->

    <meta name="description" content="" />
    <meta name="author" content="" />

    <!--  Mobile Viewport Fix
          j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
    device-width : Occupy full width of the screen in its current orientation
    initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
    maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
    -->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />


    <!-- Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <link rel="stylesheet" href="http://hoccer.com/wp-content/themes/hoccer/css/defaults.css" />
    <link rel="stylesheet" href="http://hoccer.com/wp-content/themes/hoccer/css/grid.css" />
    <link rel="stylesheet" href="http://hoccer.com/wp-content/themes/hoccer/css/style.css" />

	<link rel="stylesheet" href="/css/code_highlight.css">
	<link rel="stylesheet" href="/css/ui-lightness/jquery-ui-1.8.5.custom.css">
	<link rel="stylesheet" href="/css/developer.css">
	<!-- For the less-enabled mobile browsers like Opera Mini -->
    <link rel="stylesheet" media="handheld" href="css/handheld.css?v=1" />

    <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
    <!-- <script src="js/modernizr-1.5.min.js"></script> //-->
	
	<script src="/javascripts/jquery-1.4.2.min.js" type="text/javascript" charset="utf-8"></script>	
    <script src="/javascripts/jquery-ui-1.8.5.custom.min.js" type="text/javascript" charset="utf-8"></script>

	
   <!-- TABS -->
   <script type="text/javascript" charset="utf-8">
       $().ready(function() {
       $("#tabs").tabs();
     })
    </script>
  </head>

  <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->

  <!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
  <!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
  <!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
  <!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
      <header>
        <div class="row">
          <div class="column grid_3">
            <a href="http://developer.hoccer.com"><img src="images/logo.jpg" alt="logo" /></a>
          </div>
          <nav id="main_navigation" class="column grid_9">
            <ul>
              <li><a href="http://www.hoccer.com/legacy/hoc.html">Web Client</a></li>
              <li><a href="http://hoccer.com/support/">Support</a></li>
              <li><a href="http://developer.hoccer.com/">Developer</a></li>
              <li><a href="http://hoccer.com/blog/">Blog</a></li>
              <li><a href="http://hoccer.com/company/">Company</a></li>
              <li><a href="http://hoccer.com/contact/">Contact</a></li>
              <li><a href="http://www.twitter.com/hoccer"><img src="http://hoccer.com/wp-content/themes/hoccer/images/twitter.png" alt="twitter"/></a></li> 
              <li><a href="http://www.facebook.com/hoccer"><img src="http://hoccer.com/wp-content/themes/hoccer/images/facebook.png" alt="facebook"/></a></li>
            </ul>
          </nav>
        </div>
      </header>

