<%= import('developer/app/views/static/_header.erb') %>

      <div class="page">
        <div class="row">
          <div class="column grid_12 page_header page_header_small">
            <h1>Developer APIs</h1>
          </div>
        </div>

        <div class="row" id="articles">
          <div class="column grid_7">
            <article>
              <%= @html %>
            </article>
          </div>
          <div class="column grid_1">&nbsp;</div>
          <div class="column grid_4">
            <div class="widget_box">
              <h4>APIs on GitHub</h4>
              <section>
                <dl>
                  <dt>JavaScript</dt>
                  <dd>JS functions to simplify development of Linccer enabled webpages<br><a href="https://github.com/hoccer/javascript-api">Overview</a> |
                      <a href="https://github.com/hoccer/javascript-api/blob/master/README.textile">Readme</a> | <a href="https://github.com/hoccer/javascript-api/archives/master">Download</a></dd>
<!--                  <dt>iOS</dt>
                  <dd>Framework bundle for iPhone, iPodTouch and iPad<br><a href="https://github.com/hoccer/ios-api">Overview</a> |
                      <a href="https://github.com/hoccer/ios-api/blob/master/README.textile">Readme</a> | <a href="https://github.com/hoccer/ios-api/archives/master">Download</a></dd>
                      -->                  <dt>Java</dt>
                  <dd>Generic Java implementation<br><a href="https://github.com/hoccer/java-api">Overview</a> |
                      <a href="https://github.com/hoccer/java-api/blob/master/README.textile">Readme</a> | <a href="https://github.com/hoccer/java-api/archives/master">Download</a></dd>
                  <dt>Ruby</dt>
                  <dd>"gem install hoccer-api"<br><a href="https://github.com/hoccer/ruby-api">Overview</a> |
                      <a href="https://github.com/hoccer/ruby-api/blob/master/README.textile">Readme</a> | <a href="https://github.com/hoccer/ruby-api/archives/master">Download</a></dd>
                  <dt>Android</dt>
                  <dd>Library Project with an UI thread aware variant of the Java API<br><a href="https://github.com/hoccer/android-api">Overview</a> |
                      <a href="https://github.com/hoccer/android-api/blob/master/README.textile">Readme</a> | <a href="https://github.com/hoccer/android-api/archives/master">Download</a></dd>
                  <dt>C#/.Net</dt>
                  <dd>Generic non threaded C#/.Net impelmentation<br><a href="https://github.com/hoccer/linccer-dotnet">Overview</a> |
                      <a href="https://github.com/hoccer/linccer-dotnet/blob/master/README.textile">Readme</a> | <a href="https://github.com/hoccer/linccer-dotnet/archives/master">Download</a></dd>
                </dl>
              </section>
            </div>
          </div>
        </div>


       <%= import('developer/app/views/static/_footer.erb')%>

