<%= import('developer/app/views/static/_header.erb')%>

      <div class="page">
        <div class="row">
          <div class="column grid_12 page_header page_header_small">
            <h1>Hoccer API</h1>
          </div>
        </div>

        <div class="row" id="articles">
          <div class="column grid_7">
            <article>
              <%= @html %>
            </article>
          </div>
          <div class="column grid_1">&nbsp;</div>
          <div class="column grid_4">
            <div class="widget_box">
              <h4>API Documentation</h4>
              <section>
                <ul>
                  <li>300.000 Downloads on Android</li>
                  <li>Are you tired of typing contact</li>
                  <li>Share whatever you want</li>
                  <li>Send files to large groups</li>
                  <li>No idea what else</li>
                  <li>Share whatever you</li>
                </ul>
              </section>
            </div>
          </div>
        </div>


       <%= import('developer/app/views/static/_footer.erb')%>

