<%= import('developer/app/views/static/_header.erb') %>

      <div class="page">
        <div class="row">
          <div class="column grid_12 page_header page_header_small">
            <h1>Hoccer API</h1>
          </div>
        </div>

        <div class="row" id="articles">
          <div class="column grid_7">
            <article>
              <%= @html %>
            </article>
          </div>
          <div class="column grid_1">&nbsp;</div>
          <div class="column grid_4">
            <div class="widget_box">
              <h4>APIs on Github</h4>
              <section>
                <ul>
                  <li><a href="https://github.com/hoccer/ios-api">iOS</a></li>
                  <li><a href="https://github.com/hoccer/java-api">Java</a></li>
                  <li><a href="https://github.com/hoccer/ruby-api">Ruby</a></li>
                </ul>
              </section>
            </div>
          </div>
        </div>


       <%= import('developer/app/views/static/_footer.erb')%>

