<%= import('developer/app/views/static/_header.erb') %>

      <div class="page">
        <div class="row">
          <div class="column grid_12 page_header page_header_small">
            <h1>Hoccer API</h1>
          </div>
        </div>

        <div class="row" id="articles">
          <div class="column grid_7">
            <article>
              <%= @html %>
            </article>
          </div>
          <div class="column grid_1">&nbsp;</div>
          <div class="column grid_4">
            <div class="widget_box">
              <h4>APIs on GitHub</h4>
              <section>
                <dl>
                  <dt>iOS</dt>
                  <dd>iPhone, iPodTouch, iPad, ...<br><a href="https://github.com/hoccer/ios-api">Overview</a> |
                      <a href="https://github.com/hoccer/ios-api/blob/master/README.textile">Readme</a> | <a href="https://github.com/hoccer/ios-api/archives/master">Download</a></dd>
                  <dt>Java</dt>
                  <dd><a href="https://github.com/hoccer/java-api">Overview</a> |
                      <a href="https://github.com/hoccer/java-api/blob/master/README.textile">Readme</a> | <a href="https://github.com/hoccer/java-api/archives/master">Download</a></dd>
                  <dt>Ruby</dt>
                  <dd><a href="https://github.com/hoccer/ruby-api">Overview</a> |
                      <a href="https://github.com/hoccer/ruby-api/blob/master/README.textile">Readme</a> | <a href="https://github.com/hoccer/ios-api/archives/master">Download</a></dd>
                </dl>
              </section>
            </div>
          </div>
        </div>


       <%= import('developer/app/views/static/_footer.erb')%>

