<%= import('developer/app/views/static/_header.erb')%>

      <div class="page">
        <div class="row">
          <div class="column grid_12 page_header page_header_small">
            <h1>Hoccer API</h1>
          </div>
        </div>

        <div class="row" id="articles">
          <div class="column grid_7">
            <article>
              <%= @html %>
            </article>
          </div>
          <div class="column grid_1">&nbsp;</div>
          <div class="column grid_4">
            <div class="widget_box">
              <h4>API Documentation</h4>
              <section>
                <ul>
                  <li>300.000 Downloads on Android</li>
                  <li>Are you tired of typing contact</li>
                  <li>Share whatever you want</li>
                  <li>Send files to large groups</li>
                  <li>No idea what else</li>
                  <li>Share whatever you</li>
                </ul>
              </section>
            </div>
            <div class="widget_box">
              <h4>Oh noez</h4>
              <section>
                <p>
                  Hoccer allows you to share your data using intuitive
                  gestures without the need for cumbersome on-screen keyboards.
                </p>
                <p>
                  <a href="#">Contact Us for Further Information »</a><br />
                  <a href="#">Hoccer API for Developers »</a>
                </p>
              </section>
            </div>
            <div id="latest_posts">
              <h2>Lastest Posts</h2>
              <hr />

              <ul>
                <li>
                  <h5>Developing Hoccer for Android</h5>
                  <p>
                    We released another Hoccer Android update with lots of
                    important fixes and some usability enhancements.
                  </p>
                  <footer>18.08.2010 by Rodja Trappe</footer>
                </li>
                <li>
                  <h5>Hoccer won the Google Challenge</h5>
                  <p>
                    We released another Hoccer Android update with lots of
                    important fixes and some usability enhancements.
                  </p>
                  <footer>12.07.2010 by Danuta Barberowski</footer>
                </li>
                <li>
                  <h5>Developing Hoccer for Android</h5>
                  <p>
                    We released another Hoccer Android update with lots of
                    important fixes and some usability enhancements.
                  </p>
                  <footer>02.06.2010 by Robert Palmer</footer>
                </li>

              </ul>
            </div>

          </div>
        </div>


       <%= import('developer/app/views/static/_footer.erb')%>

